@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*{padding: 0;
margin: 0;font-family: 'Poppins', sans-serif;box-sizing:border-box;}
a:hover{color:black !important;}
/****************navbar**************/
.navbar.navbar-expand-md.bg-dark.navbar-dark, header {
	background: #f5f1f2 !important;
}
.navbar-nav li a {
	color: black !important;
}
header .active, header .navbar-nav a:hover {
	color: #f38820 !important;
}
.en, .pt a {
	color: #f38820;
}
.post-switcher {
	cursor: pointer;
	position: absolute;
	right: 63px;
	top: 36px;
}
.search {
	text-align: right;
}

.navbar-collapse {
	flex-grow: inherit !important;
}
#collapsibleNavbar {
    display: block;
}
.logo img {
	width: 100%;
}


  header  .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
  header form input[type=text] {
        width: 50px;
        height:50px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background: #f38820;
        background-image: url('../images/search-icon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;border-radius:50px;
      }
      
    header form input[type=text]:focus {
        width: 100%;
      }
     header .search {
          width:50%;
        text-align: right;margin-left: 30px;
    }
    .outer {
        display: inherit;
        width: 100%;position:relative;
    }
    .outer select {
        border: 0;background:#f4f1f1;-moz-appearance: none;
        -webkit-appearance: none;color: #f38820;
    }
    .hide-show {
        position: absolute;
        right: 0;
        top: 13px;
    }
    .hide-show a {
        color: black;
    }
    .outer::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0d9";
        color: #f38820;
        position: absolute;
        right: 55px;
        top: 10px;
        font-size: 20px;
    }
    /***********banner***********/
    #banner {
        overflow: hidden;
    }
    .banner-inner h1 {
        font-size: 20px;
        width: 100%;
        max-width: 50%;
        line-height: 30px;
    }
    .banner-outer:hover .banner-inner h1 {
        width: 100%;
        max-width: 100%;
    }
    .banner-outer::before {
        position: absolute;
        content: "01";
        color: white;
        font-size: 25px;
        border-radius: 50%;
        background: #f38820;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 7px 0;
        z-index: 99;
        font-weight: bold;margin: 50px 30px;
    }
    .banner-outer2::before {
        position: absolute;
        content: "02";
        color: white;
        font-size: 25px;
        border-radius: 50%;
        background: #f38820;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 7px 0;
        z-index: 99;
        font-weight: bold;margin: 50px 30px;
    }
    .banner-outer3::before {
        position: absolute;
        content: "03";
        color: white;
        font-size: 25px;
        border-radius: 50%;
        background: #f38820;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 7px 0;
        z-index: 99;
        font-weight: bold;margin: 50px 30px;
    }
    #banner span{color:black;}
    .banner-inner h5 {
        font-size: 14px;
    }
    .banner-heading {
        display: flex;
    }
    .banner-outer img {
        width: 100%;
        height: 100%;
        min-height: 600px;
        object-fit: cover;
    }
    .banner .container-fluid{
        padding: 0;
    } 
    .img-baner {
        padding: 0 !important;
    }
    .banner-outer {
        position: relative;transition: transform .2s; /* Animation */;
    }
    .banner-outer::after {
        position: absolute;
        content: "";
        background: #00000054;
        width: 100%;
        height: 100%;
        top: 0px;
    }
    .banner-inner {
        background: white;
        padding: 20px;
        margin: 50px;
        box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        z-index: 99;
    }
    .banner-outer:hover {
        transform: scale(1.1);z-index: 999;
    }
    .banner-outer a{color: #f38820;font-size:14px;text-decoration: none !important;letter-spacing: 1px;}
    /************facebook-section**************/
    .facebbok-section {
        padding:20px 0 50px;
    }
    .twiter-img li a {
        color: black;font-size:20px;
    }
    .twiter-img li a:hover {
        color: #f38820 !important;
    }
    .sidebar small::before {
        border-top: 2px solid #f38820;
        position: absolute;
        content: "";
        width: 20px;
    }
    .sidebar a:hover {
        background: none;
    }
    .sidebar a:hover {
        background: none;
    }
    .twiter-img li {
        list-style: none;
        display: inline-block;margin-left:5px
    }
    .twiter-img {
        text-align: center;
    }
    .banner-1 {
        text-align: center;
        background: #e2e2e2;
        padding: 40px 0;
        width: 990px;
        margin: 0 auto;
        margin-bottom: 40px;
        height: 120px;
    }
    .banner-1 h3 {
        color: #a0a0a0;
        text-transform: uppercase;
        font-size: 18px;
    }
  
    .Actualidad h4 {
        display: inline-block;
    }
    .Actualidad span {
        float:right;cursor: pointer;
    }
    
    /**********blog************/
    
    .sidebar .form-control {
        margin: 0;
        max-width: 100%;
        border-right: 0;
        border-radius: 0;
        margin-bottom: 0;
        /* border: 1px solid #edeff2; */
        border-right-color: rgb(237, 239, 242);
        border-right-style: solid;
        border-right-width: 1px;
        font-size: 12px;
        min-height: 45px;
        text-transform: none;
        font-weight: 400;
    }
    .recent {
        margin: 20px 0px 15px;
    }
    .sidebar .btn.btn-primary {
        padding: 0;
        border: none!important;
        height: 45px;
        position: absolute;
        border-radius: 0 !important;
        background-color: transparent !important;
        right: 28px;
        color: #a3a5a8 !important;
        width: 45px;
        line-height: 45px;
        margin-left: 0;
    }
    .blog-meta.big-meta h4 a {
        color: black;text-decoration: none;
    }
    .blog-meta.big-meta h4 a:hover{color: #f38820 !important;}
    .blog-meta.big-meta.col-md-12 h4 {
        margin: 15px 0px;
    }
    .bg-aqua a, p {
        color: #494949;
    }
    small a {
        color: #f38820;
    }
    .widget-title {
        display: inline-block;
    }
    .widget span {
        float: right;
        font-size: 14px;
    }
    .list-group-item.list-group-item-action.flex-column.align-items-start {
        border: 0;padding:0px;
    }
    .img-fluid.float-left {
        max-width: 30%;margin-right:15px;
    }
    .mb-1 {
        font-size: 14px;color:black;
    }
    .w-100.justify-content-between {
        margin-bottom: 30px;
    }
    .blog-meta.big-meta.col-md-12 {
        margin: 20px 0;
    }
    
.ellen {
	padding-left: 0px;
	display: block;
	width: 50%;
	display: inline;
}


.ellen  li {
	display: inline;
	padding: 0px 5px;
}
.ellen  li {
	color: #a1a1a1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	 
}

.ellen  li :hover {
	color: #f38820;
}



.ellen  li a {
	font-size: 14px;
	color: #818181;
	line-height: 31px;
	text-decoration: none;
}

.ellen  li a:hover {
	color: #f38820;
}



.ellen-icon li :hover {
	color: #f38820;
}


.ellen-icon {
	float: right;
}

.ellen-icon li {
	display: inline;
	padding: 0px 5px;
}

.ellen-icon li a {
	font-size: 14px;
	color: #818181;
	line-height: 31px;
	text-decoration: none;
}

.ellen-icon li {color: #a1a1a1;
	font-size:16px;
	font-weight: 400;
    line-height: 24px;}
    .ellen li i {
	margin-right: 5px;
}
.ellen li a {
	color: black;
}
    /***************tabpanel************/
    #tabpanel {
        display: flex;
    }
    .tab-content{padding: 40px; background-image: url("../images/tab-img.png");
        background-size: cover;min-height:560px;position:relative;margin-top: 7%;
    }
    .tab-img img {
        width: 100%;
    }
    #tab1 h4, #tab2, #tab3, #tab4, #tab5 {
        color: black !important;
    }
    #tabpanel .nav.nav-pills.brand-pills.nav-stacked {
        display: block;
    }
    .sv-tab-panel {
        background: white;
        padding: 30px;
        color: black;
        position: absolute;
        bottom: 42px;
        max-width: 80%;
    }
   
    .Actualidad {
        width: 100%;max-width: 98%;
    }


    #tabpanel small {
        font-size: 12px;
        color: gray;
        display:inherit;
        width: 100%;line-height:27px;
    }
    #tabpanel b {
        float: left;
        background: #efefef;
        border-radius: 50%;
        padding: 13px;
        height: 60px;
        width: 60px;
        text-align: center;
        font-size: 23px;
        font-weight: normal;margin-right:20px;
    }
    #tabpanel span {
        font-weight: bold;font-size:15px;
    }
    #tabpanel a:hover b {
        background: #f38820;
        color: white;
    }
    .vertical-tabs{
        font-size:15px;
        padding:10px;
        color:#000
    }
     .vertical-tabs .nav-tabs .nav-link{
        border-radius: 0;
        text-align:left;
        font-size: 16px;
        border:0;
        color:black;
        height:100%;
        width: 100%;padding:10px;
    }
    
    .vertical-tabs {
        display: inline-block;
        padding: 0;
    }
    
     .vertical-tabs .nav-tabs .nav-link.active:hover{
        background-color:#efefef !important;
    }
     .vertical-tabs .tab-content>.active{
        background:#fff;
        display:block;
    }
     .vertical-tabs .nav.nav-tabs{
        border-bottom:0;
      
        display:flex;
        float:left;
    }
     .vertical-tabs .sv-tab-panel{
        background:#fff;
        height:274px;
        padding-top:10px;
    }
    #tabpanel  ul .nav-item {
        margin-top: 30px !important;
    }
    .list-group {
        width: 100%;
    }
    .blog-list-widget {
        width: 100%;
    }
    /**************form***************/
    .form-heading h2 {
        font-size: 30px;
        font-weight: normal;
    }
    .e-mail {
        border: 0px;
        border-bottom: 1px solid gray;max-width:150px;
    }
    .three-boxes {
        display: flex;
    }
   .first-box iframe {
        width: 100%;
    }
    .inner {
        background: #e2e2e2;
        display: block;
        height: 100%;
    }
    .inner h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        font-size: 17px;
        color: #a0a0a0;
    }
    .col-md-12.quiero h1 {
        max-width: 60%;
        margin: 0 auto 0 11%;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
    }
    .quiero-form {
        position: absolute;
        right: 17px;
        top: 66px;
    }
    .quiero-form #email {
        border: 0px;
        border-bottom: 1px solid rgba(0,0,0,.1);width:35%;background: transparent;
    }
    #subscribe {
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        background: #f38820;
        padding: 14px 32px;
        color: white !important;
        text-transform: uppercase;
        border-radius: 5px;
        border: 0;
        margin-left: 20px;
        position: relative;
        top: -12px;
    }
    .three-box h1 {
        font-size: 30px;
    }
  
    #subscribe:hover{
        background-color: #efefef;
        color: black;
    }
    /****************las-section******************/
    .las-mas {
        padding: 50px 0px;
    }
    .las-mas .Actualidad {
        margin-bottom: 30px;
    }
    .select-catagories-1 select {
        width: 100%;
    }
    .las-img img {
        width: 100%;
    }
 .inner-box-las small:first-child::before {
        border-top: 2px solid #f38820;
        position: absolute;
        content: "";
        width: 20px;top: -5px;
    }
    .negative-inner {
        width: 80%;
        float: left;
    }
    .negative-inner p {
        font-size: 14px;
    }
    .negative-inner span {
        font-size: 15px;
        font-weight: 500;
        float: left;line-height:20px;
        margin-bottom: 10px;
    }
   .inner-box-las small:first-child {
        float: left;
        width: auto;
        margin-right: 20px;
    }

    .hhh h2 {
		font-size: 30px;
		line-height: 33px;
		font-weight: 600;
		padding-bottom: 10px;
	}

	.las {
		font-size: 30px;
		font-weight: 500;
		line-height: 33px;
		margin-bottom: 15px;
	}

	.d-heading {
		width: 60%;
		float: left;
		margin-bottom: 65px;
	}

	.d-heading a {
		float: left;
		display: flex;
		padding-right: 15px;
		color: #818181;
		margin-bottom: 5px;
		display: block;
		text-decoration: none;
		font-size: 14px;
		line-height: 31px;
	}

	.neg {
		font-size: 15px;
		line-height: 22px;
	}


	.lorem-form {
	
	font-size: 15px;
	line-height: 25px;
	color: #616161;
	font-weight: 500;display: inline-block;margin-bottom: 20px;
}
.read {
	margin-left: 85px !important;
	color: #f38820 !important;
}

.d-heading2 h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	letter-spacing: 2px;
	color: #404040;
	text-align: end;
	margin-bottom: 20px;
}

.d-heading2 img {
	margin-bottom: 65px;
}

.catagerias h5 {
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}
#cat-2 {
	float: left;
	width: 48%;
	margin: 1%;font-size:12px;
}
.form-group #cat-1 {
	font-size: 13px;
}

.catagerias img {
	margin-top: 20px;width:100%;
}

.extra-5 {
	margin-top: 10px;
}

.lorem-text {
	display: block;
	padding-left: 0px;
}

.lorem-text li {
	color: gray;
	font-size: 14px;
	line-height: 22px;
	padding: 5px 0px;
	 
}
.lorem-form input{font-size:14px;width:auto;float: left;margin: 10px 10px 0 0;}
.submit-btn {
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	background: orange;
	padding: 15px 40px;
	color: white !important;
	text-transform: uppercase;
	border-radius: 5px;
}
.inner-box-las {
	margin-top: 30px;
}
.lorem-form p {
	float: left;
	max-width: 90%;font-size: 14px;
}
.two-heading {
	margin: 20px 0px;
}
.las-mas .Actualidad span {
	font-weight: bold;
	letter-spacing: 1px;
}
.submit-btn:hover{
    background-color: #efefef;
    color: black;
}
    /******************footer***********************/
    footer {
        width: 100%;
        display: block;
        overflow: hidden;
        background: #e2e2e2;
        padding: 50px 0px;
    }
    
    .heading-footer h6 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
        color: #7f7f7f;
    }
    
    .heading-footer h5 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
        color: #7f7f7f;
    }
    
    footer .button {
        border: 1px solid orange;
        color: #818181;
        float: left;
        margin-left: 5px;
        background: none !important;
        border-color: #b7b7b7;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 20px;
        border: 1px solid #b7b7b7;
        margin-left: 10px !important;
        border-radius: 3px !important;
        margin-bottom: 5px;
    }
    
    .button:hover{color:#f38820; border: 1px solid #f38820;}
    
    
    .text-box li, .footer-text li {
        list-style: none;
    }
    .text-box li a, .footer-text li a{
        color: gray;
        line-height: 40px;
        font-size: 14px;
        text-decoration: none;
    }
    
    .address {
        padding-left: 0px;
    }
    
    .address li {
        list-style: none;
        color: #7f7f7f;
        line-height: 23px;
        padding: 10px 0px;
    }
    
    .address li a {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }
    
    footer ul li a:hover {
        color: #f38820;
    }
    .copyright {
        text-align: center;
        margin-top: 30px;
    }
/****************media quary**************/
@media screen and (max-width:1199px) {
    .col-md-12.quiero h1 {
        max-width: 70%;
        margin: 0 auto 0 6%;width:100%;
    }
    .quiero-form {
        right: -71px;
    }
    .negative-inner {
        max-width: 77%;
        width:100%;
    }
    .lorem-form p {
        max-width: 86%;width:100%;
    }
}
@media screen and (max-width:1024px) {
.container {
	max-width: 95% !important;
}
}
@media screen and (max-width:991px) {
.navbar-brand img {
	max-width: 200px;
}
}
